<!DOCTYPE html>
<html>
<head>
    <script src="plupload/js/plupload.full.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body>
<form class="row g-3  justify-content-center align-items-center text-center">
    <div class="form-group mt-5 text-center">
        <div id="statusResponse"></div>
    </div>
    <div class="form-group w-25 border mt-5 p-3">
        <label><h1>Upload form</h1></label>
        <input type="file" class="form-control mt-2" id="fileInput">
        <div class="col-12 text-center mt-2">
            <button type="button" id="uploadBtn" class="btn btn-success">Upload</button>
        </div>
        <div id="fileList"></div>
        <div class="progress mt-2">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</form>
<script>
    // Define Plupload uploader with configuration options
    var debug_url = '?XDEBUG_SESSION_START={{session(9003)}}';
    var uploader = new plupload.Uploader({
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'fileInput', // you can pass an id...
        url: 'index.php' + debug_url,
        flash_swf_url: 'plupload/js/Moxie.swf',
        silverlight_xap_url: 'plupload/js/Moxie.xap',
        multi_selection: true,
        multipart: true,
        chunk_size: '50mb',
        send_chunk_number: true,

        filters: {
            max_file_size: '500mb',
            // mime_types: [
            //   {title : "Image files", extensions : "jpg,jpeg,gif,png"},
            //   {title : "Video files", extensions : "mp4,avi,mpeg,mpg,mov,wmv"},
            //   {title : "Zip files", extensions : "zip"},
            //   {title : "Document files", extensions : "pdf,docx,xlsx"}
            // ]
        },

        init: {
            PostInit: function () {
                document.getElementById('fileList').innerHTML = '';

                document.getElementById('uploadBtn').onclick = function () {
                    console.log(uploader.files);
                    if (uploader.files.length < 1) {
                        document.getElementById('statusResponse').innerHTML = '<p style="color:#EA4335;">Please select a file to upload.</p>';
                        return false;
                    } else {
                        uploader.start();
                        return false;
                    }
                };
            },

            FilesAdded: function (up, files) {
                plupload.each(files, function (file) {
                    document.getElementById('fileList').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
                });
            },

            UploadProgress: function (up, file) {
                const progressBar = document.querySelector(".progress-bar");
                progressBar.style.width = `${file.percent}%`;
                progressBar.innerHTML = `${file.percent}%`;
                progressBar.setAttribute('aria-valuenow', file.percent);
            },

            FileUploaded: function (up, file, result) {
                var responseData = result.response.replace('"{', '{').replace('}"', '}');
                var objResponse = JSON.parse(responseData);
                document.getElementById('statusResponse').innerHTML = '<p style="color:#198754;">' + objResponse.result.message + '</p>';
            },

            Error: function (up, err) {
                document.getElementById('statusResponse').innerHTML = '<p style="color:#EA4335;">Error #' + err.code + ': ' + err.message + '</p>';
            }
        }
    });

    // Initialize Plupload uploader
    uploader.init();
</script>
</body>
</html>